/* declaring variables for colors used on the site */
:root {
    --primary-color: #30343D;
    --secondary-color: #445874;
    --tertiary-color: #92CCCD;
    --background-color: #EEEDF6;
}

/* Generic styles applicable for the whole page */
* {
    margin: 0;
    padding: 0;
}

/* styles for the body */
body {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* styles for the header */

header {
    padding: 10px 0px;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 10px 0px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 36px;
    padding: 3px 20px 3px 50px;
    background-color: var(--tertiary-color);
}

.my-name {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 50px;
}

header nav a {
    color: var(--tertiary-color);
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    border-bottom: 3px solid var(--tertiary-color) ;
    margin:0px 5px;
    padding: 10px 15px;
    font-size: 1.55vw;
}

/* styles for hero section */

.hero {
    padding: 30px;
    height: 150px;
    display: flex;
    background-color: var(--secondary-color);
    /*background-size: cover;*/
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h2 {
    margin-right: 20px;
    padding: 0 10px;
    background-color: var(--tertiary-color);
    font-size: 40px;
    align-items: right;
}

/* overall styles for individual segments */
.segment-title {
    width: 15%;
    border-right: 3px solid var(--secondary-color);
}

.segment-title h2 {
    text-align: right;
    font-size: 46px;
    font-weight: normal;
    padding: 0px 20px;
}

.segment-data {
    width: 85%;
    padding: 0px 0px 0px 20px;
    line-height: 1.5;
}

.segment {
    display: flex;
    margin: 20px 50px;
}

/*styles specific to contact me segment */

#contact-me .segment-data div {
    display: inline;
}

#contact-me .segment-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact-me .segment-data > * {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 24px;
    border-bottom: 3px solid var(--secondary-color) ;
}
